
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 110%;
  margin: 0;
  overflow-x: hidden; 
}


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #C0C5C1; 
  padding: 0;
  overflow-y: auto; 
}

main {
  min-height: calc(100vh - 150px); 
  padding: 20px;
}

header {
  background-color: #7D8491;
  padding: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-title {
  display: flex; 
  align-items: center;
}

.logo {
  margin-right: 10px; 
  width: 150px;
  height: auto;
}

h1 {
  font-size: 2rem;
  margin: 0; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: C0C5C1;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.personal-info, .skills {
  flex: 1;
}

.skill-card {
  border: 1px solid #7D8491; 
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #C0C5C1; 
}

#contact {
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input,
#contact form textarea {
  margin: 10px 100px;
  width: 50%;
  padding: 10px;
  border: 1px solid #7D8491; 
}

#contact form button {
  width: 10%;
  border-radius: 30px;
  border: none;
  background-color: #7D8491; 
  color: C0C5C1;
  padding: 10px;
  cursor: pointer;
}

footer {
  background-color: #7D8491; 
  color: C0C5C1;
  text-align: center;
  padding: 10px 0;
  height: 50px;
  width: 100%;
  position: fixed; 
  bottom: 0; 
  left: 0; 
}

.foto-perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  border: 8px solid transparent; 
  background-image: linear-gradient(45deg, #9FA5A9, #C0C5C1);
  background-origin: border-box;
  background-clip: content-box, border-box; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.titulo {
  margin-bottom: 24px; 
  margin-top: 20px; 
  
}

.texto{
  padding: 20px;
  line-height: 1.5; 
  font-weight: 400; 
  margin-bottom: 15px;

}
.projetos {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; 
}

.projeto-card {
  background-color: #9FA5A9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.projeto-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.projeto-card h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.projeto-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.projeto-card a {
  display: inline-block;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.projeto-card a:hover {
  background-color: black;
  color: #9FA5A9;
}










.midias-container {
  padding: 20px;
  text-align: center;
}


.cards-midias {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.media-card {
  background-color: #ececec; 
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s ease;
}

.media-card:hover {
  transform: scale(1.05); 
}

a {
  text-decoration: none;
  color: inherit;
}

.icone {
  color: #6d6d6d; 
  margin-bottom: 10px;
}

span {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.media-card p {
  color: #6f6f6f;
  font-size: 1em;
  margin-top: 5px;
}


.contato-section {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.contact-button {
  background-color: #615E71;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.1em;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block; 
  margin-top: 20px; 
}

.contact-button:hover {
  background-color: #615E71;
}
